<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725995472063-5bdh1qtqi9dlgrcvog702b35nl3thq5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725995472063-5bdh1qtqi9dlgrcvog702b35nl3thq5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCUU2AeNLahdAHbPLXzJCe5O516rOS-4aY</string>
	<key>GCM_SENDER_ID</key>
	<string>725995472063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.promo.promoApp</string>
	<key>PROJECT_ID</key>
	<string>promoapp-a7a32</string>
	<key>STORAGE_BUCKET</key>
	<string>promoapp-a7a32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725995472063:ios:7a85888aae2be14815b20a</string>
</dict>
</plist>